body {
  margin: 0;
  background: #ecebeb;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 32px 40px;

  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 24px;
}

.main {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.block {

  background: white;
  padding: 16px 16px ;
}

.blockTitle {
  font-size: 20px;
  font-weight: 500;
}

.blockHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



#calendar {
  height: 420px;
}


#chartArea {
  height: 100px;
  background: #e8e8e8;
  margin-left: -10px;
}

#sphereStats {
  height: 140px;
}

#dailyMood {
  height: 304px;
}

#selectedDate {
  height: 100px;
}

#moodEntry {
  height: 600px;
}

